<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781188748949-5j5tfg3umv15me87fq19khi3haargsm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781188748949-5j5tfg3umv15me87fq19khi3haargsm0</string>
	<key>API_KEY</key>
	<string>AIzaSyC5XhGRG4w3o-XPip-X-hFRsiY3x2yZegg</string>
	<key>GCM_SENDER_ID</key>
	<string>781188748949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fHomeMo</string>
	<key>PROJECT_ID</key>
	<string>auth-fhome</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-fhome.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781188748949:ios:0726a98d036a50d091ad9c</string>
</dict>
</plist>